.contact-page {
	background: url("../../img/aboutbg.jpg");
	margin-top: -10px;

	&__tabs {
			margin-bottom: 90px;
		}
	
	&__tabs-link {
		margin-right: 24px;
		display: inline-block;
		background: #dadada;
		padding: 0 20px;
		padding-top: 30px;
		width: 237px;
		height: 62px;
		border-radius: 10px 10px 0 0;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		font-size: 30px;
		color: #8c8c8c;
	}

	&__tabs-link--active {
		background: #fff;
		color: #000;
	}

	&__tabs-link:last-child {
		margin-right: 0;
	}

	&__tabs-content {
		background: #fff;
		font-size: 18px;
		line-height: 16px * 1.3;
		padding-bottom: 45px;

	}

	&__tabs-col {
		margin-top: 30px;
		display: inline-block;
		vertical-align: top;
		width: 33%;
		text-align: center;
	}

	&__tabs-text {
		min-height: 50px;
		margin: 0px 20px;
		padding: 20px 20px;

	}

	&__tabs-text--border {
		border-top: 5px solid #d1d1d1;
		border-bottom: 5px solid #d1d1d1;
	}

	&__sales {
		border-top: 5px solid #dadada;
		background: #fff;
		margin-bottom: 40px;
		padding: 0 40px;
	}

	&__sales-title {
		margin-top: -30px;
	} 


	&__sales-item:first-child {
		border-bottom: 4px solid #dadada;
		width: 100%;
	}

	&__sales-item:first-child &__sales-img {
		display: inline-block;
		width: 33%;
		width: 200px;
		height: 200px;
	}

	&__sales-item:first-child &__sales-name {
		display: inline-block;
		width: 600px;
		width: 200px;
		height: 200px;
	}

	&__sales-item:first-child &__sales-contact, 
	 {
		display: inline-block;
		width: 400px;
	}
	
	



	&__sales-item {
		display: inline-block;
		width: 45%;
		margin-right: 20px;
	}

	&__sales-item:last-child {
		margin-right: 0;
	}

	&__sales-img {
		width: 200px;
		height: 250px;
		margin-right: 40px;
		float: left;
		vertical-align: middle;
	}


	&__production {
		border-top: 5px solid #dadada;
		background: #fff;
		margin-bottom: 40px;
		padding: 0 40px 40px 40px;
	}

	&__production-title {
		margin-top: -30px;
	} 
	
	&__production-item {
		display: inline-block;
		width: 45%;
		margin-right: 20px;
	}

		&__production-img {
		width: 200px;
		height: 250px;
		margin-right: 40px;
		float: left;
		vertical-align: middle;
	}

	&__managers {
		border-top: 5px solid #dadada;
		background: #fff;
		margin-bottom: 30px;
		padding: 0 40px 40px 40px;
	}

	&__managers-title {
		margin-top: -22px;
	} 

	&__managers-img {
		display: inline-block;
		width: 33%;
		vertical-align: middle;
	}
	&__managers-name {
		display: inline-block;
		width: 33%;
		vertical-align: middle;
	}
	&__managers-contact {
		display: inline-block;
		width: 33%;
		vertical-align: middle;
	}



}