.page-header {
	margin: 0 auto;

	&__search {
		.clearfix();
	}
	
	&__search input {
		margin-top: 33px;
		float: right;
		margin-bottom: 50px;
	}

	&__logo {

		margin: 0 auto;
		text-align: center;
	}

	&__title {
		text-align: center;
	}
}