.slider {
	position: relative;
	min-height: 530px;
	
	&__title {
		text-transform: uppercase;
		text-align: center;
		padding-top: 30px;
		margin: 0;
		font-size: 30px;
	  color: #003cc3;
	}

	&__btn {
		position: absolute;
		bottom: -20px;
		left: 50%;
		z-index: 100;	
		margin-left: -115px;
	}
} 